.create-task {
  max-width: 600px;
  margin: 20px auto;
  background-color: #faf9f9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.task-title {
  padding-left: 20px;
  padding-top: 15px;
}

.ant-divider-horizontal {
  margin: 18px 0;
}

.ant-form-item-required::before {
  display: none !important;
}

.task-col {
  padding: 0;
}

@media only screen and (max-width: 630px) {
  .create-task {
    width: 485px;
  }
}

@media only screen and (max-width: 500px) {
  .create-task {
    width: 400px;
  }
}

@media only screen and (max-width: 410px) {
  .create-task {
    width: 300px;
  }
}
