.login-title {
  padding-bottom: 20px;
  text-align: center;
}

.login-form {
  width: 450px;
  margin: 50px auto;
  border: 1px solid #faf9f9;
  padding: 30px 20px;
  border-radius: 13px;
  background-color: #faf9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ant-form-item {
  margin-bottom: 22px;
}

@media only screen and (max-width: 460px) {
  .login-form {
    width: 300px;
  }
}
