.nav_btn_gps {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.admin_profile_btn,
.noti_btn,
.logout_btn {
  margin-right: 10px;
}

.hamburger_menu {
  display: none;
}

.icon-text {
  color: #08979c;
  line-height: 1;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ant-menu.ant-menu-root.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}

.admin-profile {
  margin-bottom: 25px;
}

.login-profile {
  width: 70px !important;
  height: 60px !important;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.noti-line {
  border-bottom: 1px solid #c0c0c0;
}

.ant-popover-inner {
  width: 300px !important;
}

.notification-box {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
}

.noti-name {
  margin: 0 4px;
  color: #ffb174;
  font-weight: bold;
}

.noti-project {
  margin: 0px 3px;
  color: #107a8b;
  font-weight: bold;
}

.noti-title {
  margin-left: 4px;
  color: #107a8b;
  font-weight: bold;
}

.noti-span {
  margin-left: 10px;
}

.noti-line:last-child {
  border: none;
}

.noti-bg {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.noti-image {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hamburger_menu {
    display: block;
  }

  .admin_profile_btn {
    display: none;
  }

  .logout-btn {
    display: none;
  }
}
