.create-project {
  min-width: 600px;
  margin: 20px auto;
  background-color: #faf9f9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.create-project-title {
  padding-top: 18px;
  margin-left: 15px;
}

.ant-divider-horizontal {
  margin: 18px 0;
}

.project-icon {
  margin-right: 8px;
}

.ant-form-item-required::before {
  display: none !important;
}

@media only screen and (max-width: 630px) {
  .create-project {
    min-width: 485px;
  }
}

@media only screen and (max-width: 510px) {
  .create-project {
    min-width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .create-project {
    min-width: 280px;
    margin: 20px;
  }
}
