* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #e2f3f5;
  --primary-color: #219ebc;
  --warning-color: #ffd60a;
  --secondary-color: #adb5bd;
  --danger-color: #ef233c;
  --success-color: #70e000;
  --contrast-primary-color: #4361ee;
}
